<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Test
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
    link(rel="stylesheet", href="style.css")
body
  a(href='#link').formjs__call Test link
  .formjs
    .formjs__close-area
    .formjs__content
      .formjs__content--header
        span Send us message
      .formjs__content--data
        input(type='text' placeholder='Your message').formjs__input
        input(type='text' placeholder='Your fullname').formjs__input
        input(type='text' placeholder='Your email').formjs__input
      .formjs__footer
        button.formjs__button.formjs__footer--send Send message
        
    
  button.formjs__button.formjs__hire.formjs__call Hire us

script(type="text/javascript" src="forms-min.js")
